*{box-sizing:border-box}
body{
margin:0;
font-family:cursive;
background:linear-gradient(135deg,#f8b6d2,#cbb4f3);
text-align:center;
}

.hidden{display:none}

.faceid-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.face-circle{
width:90px;height:90px;
border:3px solid white;
border-radius:50%;
animation:pulse 1.5s infinite;
}

@keyframes pulse{
from{transform:scale(1);opacity:1}
to{transform:scale(1.2);opacity:0}
}

.login-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.login-box{
width:80%;
max-width:350px;
background:rgba(255,255,255,.35);
padding:25px;
border-radius:25px;
}

.login-box input,button{
width:100%;
margin:10px 0;
padding:14px;
border:none;
border-radius:14px;
}

button{
background:#ff8fb1;
color:white;
font-size:18px;
}

.inner-page{min-height:100vh;padding:20px}

.menu a{
display:block;
margin:12px;
padding:18px;
border-radius:25px;
background:rgba(255,255,255,.35);
text-decoration:none;
color:black;
font-size:18px;
}

.content-box{
background:rgba(255,255,255,.35);
padding:25px;
border-radius:25px;
font-size:18px;
}

.heart{
position:fixed;
bottom:0;
animation:float 2s linear;
}

@keyframes float{
to{transform:translateY(-100vh);opacity:0}
}

.swipe{animation:swipe .5s ease}
@keyframes swipe{
from{transform:translateX(100%);opacity:0}
to{transform:none;opacity:1}
}

img{width:100%;border-radius:20px}
